* {
    margin: 0;
    padding: 0;
}

.div-absolute {
    position: absolute;
    width: 1600px;
    height: 350px;
    padding: 20px 0;
    background-color:aqua;
}

.div-relative {
    position: relative;
    top: 100px;
    left: 600px;
    width: 500px;
    height: 200px;
    padding: 20px 0;
    text-align: center;
    background-color: beige;
}